body {
    /* Box-model */
    padding: 0;
    margin: 0;

    /* Typography */
    font-family: 'Roboto', Arial, sans-serif;
    color: dimgray;

    /* Visual */
    background-color: slategray;
}

#wrapper {
    /* Box-model */
    margin: 32px auto;
    width: 1024px;

    /* Visual */
    background-color: whitesmoke;
}

header, main {
    /* Box-model */
    margin-right: 32px;
}

header {
    /* Box-model */
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
}

main {
    /* Box-model */
    display: flex;
    margin-left: 32px;
}

h1, h2, h3, b, strong {
    /* Typography */
    font-family: 'Raleway', Verdana, sans-serif;
}

h1, h2 {
    /* Typography */
    text-transform: uppercase;
}

h2 {
    /* Box-model */
    display: flex;
    border-bottom: 2px solid black;
}
